<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mann's Express</title>
</head>
<style>
    h1{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* color: navy; */
        color: green;
        letter-spacing: 1.1;
        text-align: center;
    }
    h2{
        font-family:fantasy;
        color: tomato;
        letter-spacing: 1.1rem;
        text-align: center;
    }
    .main{
        color:coral;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 40px;
    }
</style>
<body>
    <h1>Mann's Express</h1>
    <h2>EJS</h2>
    <h3>Random Number: <%= rand %></h3>
    <div class="main">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus nisi debitis numquam aut sunt laborum, officia quae. Velit natus vero est sequi reprehenderit impedit nobis minima nam pariatur omnis mollitia repellat officia ut et, illo facilis! Inventore repellendus sequi consectetur nulla ex at temporibus, eos magni, sed molestiae, ad officia ratione maxime sapiente. Libero delectus neque aperiam eum quisquam sequi deleniti magni nisi non, quidem laborum incidunt voluptatum cumque ullam assumenda iste consectetur dignissimos reiciendis harum natus nam possimus eaque esse reprehenderit. Velit eius laboriosam doloribus, cupiditate nostrum vero quasi tenetur labore possimus aspernatur fugiat, expedita esse! Accusamus sed maxime corporis necessitatibus debitis ab qui quidem pariatur sunt recusandae quia porro assumenda, voluptatum nemo corrupti quo officiis dolore. Dignissimos eveniet sit at eum pariatur cupiditate perferendis placeat laudantium autem! Eligendi aperiam eaque iste aut non iure voluptatem earum quos nemo, enim ducimus sed. Ratione magni quod placeat ducimus aliquid! Iure mollitia, unde voluptatum tempora distinctio facere sequi reiciendis autem id libero animi repellendus reprehenderit, sunt optio accusamus omnis! In impedit doloribus vero. Dolore praesentium sint pariatur quod impedit quasi placeat deserunt, dolorum quidem aspernatur qui natus voluptatibus omnis recusandae temporibus quos veniam numquam autem deleniti quibusdam atque! Quae nulla placeat voluptatum atque, cupiditate voluptatem facilis illo veritatis? Nostrum vel, odio odit maiores, harum facere animi reiciendis delectus perspiciatis illum quod, incidunt dignissimos aliquam at commodi officia? Consequatur dolores ipsam architecto mollitia et pariatur. Accusamus molestiae repellat vero explicabo, molestias quasi commodi fuga odit nulla eligendi rem. Harum aspernatur voluptatum natus magnam consequatur excepturi beatae! Laborum molestiae et eum veniam aperiam. Numquam nulla delectus a, aspernatur ipsum illum eveniet soluta beatae similique ipsam in fuga, odio dolorem! Alias, molestiae unde odit rem quas quasi nostrum consequatur libero nesciunt, quae voluptate corrupti sed error delectus sequi ipsam magnam quam quos quo adipisci. A, corrupti! Officia aliquid repudiandae officiis commodi qui voluptate atque in cumque. Asperiores deleniti consequatur ab fuga? Dolores deserunt dicta commodi quo esse nam ipsam sequi eum. Saepe minima debitis dolore, eum cumque ducimus qui beatae enim natus impedit perferendis? Consectetur, corporis fuga. Corrupti doloremque nobis unde, est temporibus asperiores beatae sed quia ea enim voluptate molestias aut numquam, iusto non vero provident. A cum quibusdam sequi, aliquam fugit obcaecati ea! Nulla, reiciendis inventore beatae, officiis esse vitae consequatur vel ut aspernatur rem accusamus vero ipsam libero laudantium nobis, laboriosam tenetur repellendus delectus at? Reprehenderit ea repellat odit quo est, id deserunt eum aliquid sit perspiciatis sint dolorum illo? Ullam, alias aliquid. Aperiam animi laborum nostrum, dolorem eos tempora tempore obcaecati quae harum, maiores id deserunt amet nesciunt doloribus dolore iste velit ab dolores dolorum asperiores explicabo minima non omnis? Ratione labore sunt, fuga sapiente esse facilis blanditiis magnam ducimus vitae quam ullam, non numquam eius assumenda aspernatur incidunt odit ipsa rem iusto repellat odio voluptatibus molestiae commodi reiciendis! Beatae neque animi praesentium autem reiciendis officia ipsum. Labore nostrum magni laudantium fugiat esse aliquid eligendi ducimus voluptatum error vel dicta, soluta id molestias. Voluptate, repudiandae soluta. Vero dolorum magni ad expedita inventore suscipit esse ab quidem harum, autem quae necessitatibus, doloribus aliquid dicta, accusamus asperiores? Vitae quos atque ipsam et illo eum, at esse voluptatem consequuntur odio, aliquid laborum cumque ipsa harum sint expedita odit deserunt omnis velit explicabo. Vitae quas amet aspernatur minus delectus hic cupiditate assumenda ex veritatis dolore porro obcaecati, ab nostrum eaque placeat debitis optio beatae praesentium asperiores nulla nihil. Fugiat maxime optio provident in, non quia enim sequi neque dolores, hic exercitationem, rem tempora molestiae atque earum nisi. Nisi sed nam harum id asperiores molestias eaque perspiciatis, quidem veniam sint in facilis deleniti impedit assumenda dicta explicabo deserunt vel unde ipsum. Cupiditate sequi non et sunt magni cumque quibusdam commodi molestiae officia possimus doloribus ipsam itaque labore optio, consequatur, eius libero tempore, dolores explicabo maiores aspernatur. Facilis voluptate a doloremque beatae quae tempora sunt cumque, corrupti tenetur modi dicta? Inventore, rem voluptatem deserunt nemo eveniet earum expedita voluptates cupiditate dolorum voluptatum nostrum quam blanditiis, pariatur unde, odit aperiam. Odio suscipit reprehenderit adipisci, consequuntur perspiciatis ipsum quos, explicabo vitae, autem perferendis molestiae! Non ad laudantium quos tempore! Suscipit nihil, molestiae pariatur earum quaerat quia beatae tempore rerum maxime? Id quo ea praesentium corrupti quidem aliquid voluptas alias et mollitia.</p>
</div>
</body>
</html>
